<h1>Merhaba Dünya</h1>
<h2>Nasılsın? İyi misin? Havalar Nasıl?</h2>
<ul>
  {% for i in videos %}
    <li><a href="{% url 'videos:video' i.pk %}">{{ i.title }}</a> </br> - {{ i.desc }}</li>
  {% endfor %}
</ul>
<ul>
	{% for i in video_list %}
		<li>{{ i.title }}</li>
	{% endfor %}
</ul>
