<h1>{{ video.title }}</h1>
<h2>{{ hello }}</h2>
<h3>{{ video.category }}</h3>
<video width="600px" height="auto" src="{{ video.file.url }}"></video>
<p>{{ video.desc }}</p>
<ul>
	{% for i in video_list %}
		<li>{{ i.title }}</li>
	{% endfor %}
</ul>
